# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
.DS_Store
box2d/b2_api.h
box2d/b2_block_allocator.h
box2d/b2_body.h
box2d/b2_broad_phase.h
box2d/b2_chain_shape.h
box2d/b2_circle_shape.h
box2d/b2_collision.h
box2d/b2_common.h
box2d/b2_contact.h
box2d/b2_contact_manager.h
box2d/b2_distance.h
box2d/b2_distance_joint.h
box2d/b2_draw.h
box2d/b2_dynamic_tree.h
box2d/b2_edge_shape.h
box2d/b2_fixture.h
box2d/b2_friction_joint.h
box2d/b2_gear_joint.h
box2d/b2_growable_stack.h
box2d/b2_joint.h
box2d/b2_math.h
box2d/b2_motor_joint.h
box2d/b2_mouse_joint.h
box2d/b2_polygon_shape.h
box2d/b2_prismatic_joint.h
box2d/b2_pulley_joint.h
box2d/b2_revolute_joint.h
box2d/b2_rope.h
box2d/b2_settings.h
box2d/b2_shape.h
box2d/b2_stack_allocator.h
box2d/b2_time_of_impact.h
box2d/b2_time_step.h
box2d/b2_timer.h
box2d/b2_types.h
box2d/b2_weld_joint.h
box2d/b2_wheel_joint.h
box2d/b2_world.h
box2d/b2_world_callbacks.h
box2d/box2d.h
